:root {
    --bg: white;
    --fg: black;
    --fgsubtle: #888;
    --selected: lightgreen;
    --hover-selected: limegreen;
    --hover-unselected: lightgrey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --fg: white;
        --fgsubtle: #888;
        --selected: limegreen;
        --hover-selected: lightgreen;
        --hover-unselected: grey;
    }
}

html, body {
    width: 100%;
    font-family: monospace;
    font-size: 1.2em;
    color: var(--fg);
    background-color: var(--bg);
}

.date-input {
    user-select: none;
    cursor: default;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
}
.date-select {
    user-select: none;
    cursor: default;
    text-align: center;
}
.date-selected {
    background: var(--selected);;
}
.date-unselected {
}
.date-selected:hover {
    background: var(--hover-selected);
}
.date-unselected:hover {
    background: var(--hover-unselected);
}

.date-table, .date-table td, .date-table th, .date-table tr {
    border-collapse: collapse;
    border: solid 1px var(--fgsubtle);
    text-align: center;
}
.poll-display th {
    padding: 10px;
}
.poll-display td {
    height: 50px;
}

.month-nav button {
    margin: 10px;
    font-size: 1.5rem;
}

.dates-input {
}
.dates-input table {
}

input, button, textarea {
    font-size: 1.2rem;
    color: var(--fg);
    background-color: var(--bg);
    border: solid 1px var(--fg);
}
button {
    box-shadow: 2px 2px var(--fg);
}
button:hover {
    background-color: var(--hover-unselected);
}
button:active {
    box-shadow: 4px 4px var(--fg);
}
button:disabled {
    color: var(--fgsubtle);
    box-shadow: 2px 2px var(--fgsubtle);
}
button:disabled:hover {
    background-color: var(--bg);
}
button:active {
    box-shadow: 2px 2px var(--fgsubtle);
}
.btn-big {
    font-size: 1.5rem;
}

.month-name {
    text-align: center;
    font-size: 1.4rem;
    min-width: 180px;
    display: inline-block;
}

.days-div {
    min-height:  340px;
}

.form-input {
    margin-bottom: 20px;
}

a {
    color: var(--fg);
}
a:hover, a:focus, a:active {
    background-color: var(--hover-unselected);
}

.ticked-date {
    font-size: 2rem;
}

.name-input {
    padding-left: 3px;
    padding-right: 3px;
}

.subtle {
    color: var(--fgsubtle);
}

.container {
    width: 100%;
    flex-direction: row;
    display: flex;
}

.leftpad, .rightpad {
    flex-grow: 1;
}
.main-content {
    flex-grow: 0;
}

.withborder {
    border: solid 1px var(--fgsubtle);
    padding: 4px;
}
